* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the top nav links*/
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create four columns that float */
.column {
    float: left;
    padding: 10px;
}

/* left and right columns */
.column.side {
    width: 20%;
}

/* Middle columns */
.column.middle {
    width: 40%;
}

/* Announcement column */
.column.announcement {
    width: 20%;
}

/* Right column */
.column.right {
    width: 20%;
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the columns stack on top of each other */
@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}