* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #333;
}

/* Style the top nav links*/
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hever */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Create three unequal columns that float */
.column {
  float: left;
  padding: 10px;
  border: 0.5rem solid #ccc;
}

/* left and right column */
.column.side {
  width: 25%;
  border-style: dashed;
}

/* Middle column */
.column.middle {
  width: 50%;
  border-style: dotted;
}

.column:hover {
  border-style: inset;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns */
@media screen and (max-width: 600px) {
  .column.side,
  .column.middle {
    width: 100%;
  }
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}
